body{
	background: #ffd299;
}

.jumbotron{
	background: url(../images/bakery.jpg);

}

h1{
	font-family: 'Pacifico', cursive;
	color: #ffffff !important;
	text-align: center;
	font-size:70px !important;
	padding-bottom: 20px;
	text-shadow: 2px 2px #9b9b9b;
}
	

h2{
	font-family: 'Josefin Slab', serif;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px #9b9b9b;
}


#win, #center, #guessesLeftBox, #lettersGuessedBox{
	font-family: 'Josefin Slab', serif;
	font-size: 32px;
	font-weight: bold;
	text-align:center;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}

#word{
	margin-top:15px;
}

#win{
	margin-top:50px;
	padding-top:15px;
	padding-bottom:15px;
}

#center{
	padding-top:15px;
}

#messageSpace{
	padding-top:20px;
}

#guessesLeftBox{
	padding:15px;
	margin-bottom:25px;
}

#lettersGuessedBox{
	padding:15px;
	word-wrap: break-word;
}

#letterGuessed{
	word-wrap: break-word;
}
